@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
:root {
    --primary-color: #14455D;
    --secondary-color: #A5CAD2;
    --accent1-color: #F46B6B;
    --accent2-color: #C8D85D;
}
* {
    margin: 15px;
    box-sizing: border-box;
}

/* Style headings and paragraphs */
h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  font-family: 'Open Sans', sans-serif;
}

p {
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
}

/* Color fonts */
a {
  color: var(--primary-color);
}

.social links img {
  width: 1%;
  height: 1px; 
}
nav a {
  text-decoration: none;
}

/* Limit page width */
/* .container {
  max-width: 960px;
  margin: 0 auto;
} */

/* Style Hero Container */
.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* color: var(--heading-color); */
  font-size: 3.5rem;
  font-family: 'Open Sans', sans-serif;
  background-color: hsla(80, 45%, 30%, 0.5);
  color: white;
  /* background-size: cover; */
}

.hero article {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsla(240, 100%, 50%, 0.6);
  padding: 2rem;
  width: 80%;
}

.hero article p {
  float: right;
  width: 55%;
  color: white;
}

.hero article img {
  float: right;
  width: 35%;
  margin-left: 1rem;
  background-image:none
}
section h2 {
    font-family: monospace;
    font-size: 30px;
    color:coral
}