@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
--primary-color: #14455D;
--secondary-color: #A5CAD2;
--accent1-color: #F46B6B;
--accent2-color: #C8D85D;

--heading-font: monospace, serif;
--paragraph-font: monospace, serif;

--nav-background-color: 14455D;
--nav-link-color: A5CAD2;
--nav-hover-link-color: F46B6B;
--nav-hover-background-color: C8D85D;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    