@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
:root {
    --primary-color: #14455D;
    --secondary-color: #A5CAD2;
    --accent1-color: #F46B6B;
    --accent2-color: #C8D85D;
}

body {
  max-width: 1000px;
  margin: 0px auto;
}

header {
	margin: 1rem auto;
	display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
}

header img {
  width: 150px;
}

header nav {
  display: flex;
  color: navy;
  text-decoration: none;
  gap: 20px;
  align-items: center;
}

header nav a {
	color: navy;
	text-decoration: none;
    font-size: 15px;
}

header nav a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

div a:hover {
    color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

.Awesome-trip {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.call-to-action, a {
    text-align: center;
    color: navy;
    text-decoration: none;
    font-size: 20px;
}

p {
    color: navy;
    font-size: 18px;
}

h2 {
    font-size: 25px;
    color: navy;
    margin-bottom: 20px;
    margin-top: 20px;
    margin: none;
}

.trip img {
    width: 300px;
    height: 250px;
}

.trip-table {
    text-align: center;
}

.sociallinks img {
  width: 40px;
  height: 40px;
}

.sociallinks {
  position: absolute;
  top: 20px;
  right: 0px;
}

footer p {
  text-align: center;
  margin: 0px 45px;
  line-height: 40px;  
}

footer {
  position: relative;
  margin: 20px 0px;
  border-top: 1px solid gray;
  padding-top: 20px;
}

.wireframe {
  text-align: center;
}

wireframe a:hover {
    color: tomato;
	font-weight: 400;
	text-decoration: underline;
    margin-bottom: 20px;
    margin-top: 20px;
}